footer {
  @include box-sizing(border-box);
  @include clearfix;
  text-align: left;
  font-size: 0.875em;
  color: #af6f5f;
  .container {
    padding: 35px 60px;
    background: #ebccc4;
    display: flex;
    justify-content: space-between;
    @include screen('mobile') {
      display: block;
      padding: 30px;
      text-align: center;
    }
  }
  .footer_info {
    width: 70%;
    @include screen('mobile') {
      width: 100%;
    }
    p {
      line-height: 1.8em;
      margin: 0;
      font-weight: 500;
      a{
        padding: 2px 14px;
        background: #fff;
        border-radius: 25px;
        margin-left: 5px;
        color: #6e2714;
        cursor: pointer;
        text-decoration: none;
        &:hover,&:focus{
          background: #6e2714;
          color: #fff;
        }
      }
    }
  }

  .update{
    width: 30%;
    text-align: right;
    align-self: flex-end;
    font-weight: 500;
    color: #6e2714;
    @include screen('mobile') {
      width: 100%;
      text-align: center;
    }
    em{
      font-style: normal;
      color: #af6f5f;
    }
  }
}