@charset "utf-8";
// 文章標題
h1.title, h2.title {
  line-height: 1.25em;
  margin: .4em 0;
  padding-bottom: .4em;
  border-bottom: 2px solid #b3c6d4;
}

.cp {
  .pic {
    float: left;
    margin: 0px 1em 1em 0;
    width: auto;
    width: 45%;
    max-width: 400px;
    background: #F1F1F1;
    overflow: hidden;
    padding: .5em .5em .2em;
    img {
      float: none;
      width: 100%;
      margin: 0;
      display:block;
    }
    span {
      text-align: center;
      display: block;
      font-size: .938em;
    }
    @include screen('mobile') {
      float: none;
      max-width: 100%;
      width: auto;
      margin: 0px auto;
      display: block;
      margin-bottom: .5em;
    }
  }
  &.small_size {
    font-size: .938em;
  }
  &.large_size {
    font-size: 1.125em;
  }
  table {
    background: #FFF;
  }
  img {
    &.float_left {
      float: left;
      margin: 0px 1em 1em 0;
      width: auto;
      max-width: 55%;
      @include screen('mobile') {
        float: none;
        max-width: 100%;
        margin: 0px auto;
      }
    }
    &.float_right {
      float: right;
      margin: 0px 0 1em 1em;
      width: auto;
      max-width: 55%;
      @include screen('mobile') {
        float: none;
        max-width: 100%;
        margin: 0px auto;
      }
    }
  }
  a {
    @include aSetting;
  }
}
// 文章標籤
div.tag {
  @extend %clearfix;
  padding: .5em 0 .5em 1.5em;
  margin-bottom: .5em;
  position:relative;
  &:before {
    display: block;
    position:absolute;
    top:.3em;
    left: .1em;
    content: "";
    width: 1em;
    height: 1em;
    top: .9em;
    background: url(../images/basic/icon_tag.png) no-repeat center center;
    background-size: 1em;
  }
  ul {
    display: inline-block;
    @include li-reset;
    li {
      display: inline-block;
      margin: 0 .2em .2em 0;
      a {
        display: block;
        font-size: .813em;
        @include aSetting_nocolor;
        border-radius: 4px;
        border: 1px solid #DDD;
        padding: .2em .5em;
        &:hover,&:focus {
          border:1px solid $aHover;
        }
      }
    }
  }
}
// 檔案下載
.file_download {
  @include clearfix();
  ul {
    counter-reset: counter;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 1.5em;
    border-bottom: 1px solid #EEE;
    clear: both;
    overflow: hidden;
    padding-bottom: .5em;
    &:before {
      position: absolute;
      top: .6em;
      left: .5em;
      text-align: right;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #999;
      content: "";
    }
    span {
      font-size: .9375em;
      margin-top: 8px;
      margin-right: 1em;
      color: #888;
      @include screen('mobile') {
        display: block;
        margin-right: 0;
        margin-bottom: .2em;
      }
      a{
        margin-right: .5em;
      }
    }
  }
}
// 外部連結
.web_link {
  width: 100%;
  margin: 0 auto;
  @extend %clearfix;
  h3 {
    font-size: 1.5em;
    padding: 12px 0px 15px 0px;
    margin: 0.5em 0px 0.2em;
    border-bottom: 1px solid $primaryColor;
  }
  ol,
  ul {
    counter-reset: counter;
    list-style-type: none;
    padding: 0;
  }
  li {
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px solid #EEE;
    a {
      padding: .2em 0px .2em 35px;
      position: relative;
      height: auto;
      line-height: 1.45em;
      display: block;
      @include aSetting_nocolor;
      &:before {
                position: absolute; // outline: 1px solid red;
                top: 5px;
                left: 0px;
                text-align: right;
                width: 30px;
                counter-increment: counter;
                content: counters(counter, ".") " . ";
              }
            }
          }
        }
        .publish_info {
          font-size: 0.875em;
          line-height: 1.5em;
          list-style: none;
          margin: 0 0 .7em 0;
          border-left: solid 5px $primaryColor;
          padding: 0.8em 1.5em 0.8em;
          background: #F2F2F2;
          @extend %clearfix;
          @include box-sizing;
          @include screen('mobile') {
            font-size: 0.938em;
          }
          li {
            width: 32%;
            margin-bottom: .5em;
            display: inline-block;
            vertical-align: top;
            @include screen('tablet') {
              width: 48%;
              margin-bottom: .2em;
              font-size: 0.875em;
            }
            @include screen('mobile') {
              width: 100%;
              display: block;
            }
          }
        }