.advsearch{
  padding: 1em 1em 0 1em;
  background: #fff;
  border-radius: 0 0 9px 9px;
  // box-shadow: 0 0 5px 0 rgba(233,240,243,.8);
  // border:1px solid rgba(233,240,243,.8);
  box-shadow: 0 0 5px 5px rgba(244,238,237,.8);
  border:1px solid rgba(244,238,237,1);
  margin-bottom: 2em;
  // border-top: 3px solid #00d37f;
  display: none;
  .form_grid{
    border-top: 0;
  }
}
.lp {
  table {
    td {
      a {
        @include aSetting_nocolor;
      }
      &.date {
        text-align: center;
        color: #666;
        @include screen('mobile') {
          text-align: left;
        }
      }
      &.num {
        text-align: center;
        color: #666;
        @include screen('mobile') {
          text-align: left;
        }
      }
    }
  }
  .list {
    &>ul, ol {
      list-style-type: none;
      padding: 0;
      border-top: 2px solid $primaryColor;
      &>li {
        padding: 1em 0;
        border-bottom: 1px solid #DDD;
        position: relative;
        .tag {
          margin-left: 2em;
        }
        &>a {
          display: block;
          padding-left: 2em;
          position: relative;
          line-height: 1.45em;
          color: $color-word;
          &:hover {
            color: $aHover;
          }
          .num {
            width: 1.5em;
            text-align: right;
            position: absolute;
            top: 0;
            left: 0;
            &:after {
              content: ".";
              display: inline-block;
            }
          }
        }
        span.dept {
          display: inline-block;
          font-size: .938em;
          @include screen("mobile") {
            display: block;
          }
        }
        time {
          display: block;
          color: #AAA;
          font-size: .938em;
        }
      }
    }
  }
}
.album {
  margin: 1em auto;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  @include screen('mobile') {
    display: block;
  }
  .list_item{
    width: 31%;
    margin-bottom: 1.5em;
    background: #fff;
    box-shadow: 0 0 5px 5px rgba(244,238,237,.8);
    border:1px solid rgba(244,238,237,1);
    border-radius: 9px;
    position: relative;
    padding: 10px 10px 40px 10px;
    @include screen('mobile') {
      width: 100%;
    }
    &.nb{
      padding-bottom: 0;
    }
    &:last-child:nth-child(3n - 1) {
      margin-right: calc(31% + 7% / 2);
      @include screen('mobile') {
        margin-right: 0;
      }
    }
    &:last-child:nth-child(3n - 2) {
      margin-right: calc(62% + 14% / 2);
      @include screen('mobile') {
        margin-right: 0;
      }
    }
    .item_tag{
      border-radius:5px;
      z-index: 10;
      padding: .5em 1em;
      color: #fff;
      // background: #919eaa;
      background: #ff5500;
      margin-bottom: 8px;
      text-align: center;
      // $types: (
      //   clothes   :  #ff6e51,
      //   cosmetics:#ff6196,
      //   tric   :  #00a9ef,
      //   book :      #b3784d,
      //   food    :  #f0ad4e,
      //   sport    :  #71d0b6,
      //   pet    :  #8c73c7,
      //   baby    :  #ff99cc,
      //   home    :  #5cb85c
      //   ) !default;
      // @each $name, $color in $types {
      //   &.#{$name} {
      //     background:$color;
      //   }
      // }
    }
    .item_pic{
      position: relative;
      border-radius:5px;
      img{
        z-index: 9;
        object-fit: cover;
      }
    }
    .item_info{
      color: #343d4e;
      padding: 8px;
      .item_name{
        font-weight: bold;
        margin-bottom: 12px;
        color:#172647;
        a{
          color:#172647;
        }
      }
      .item_date{
        font-size: .875em;
        color: #8d8d8d;
      }
      .item_dep{
        font-size: .9375em;
        margin-bottom: .2em;
        color: #8d8d8d;
        font-weight: bold;
        .name{
          em.dep{
            font-style: normal;
            &:after{
              content: "/";
              margin-right: 4px;
              margin-left: 4px;
            }
          }
        }
        .ext{
          display: block;
          em{
            font-style: normal;
            &:after{
              content: "/";
              margin-right: 4px;
              margin-left: 4px;
            }
          }
        }
      }
      .item_txt{
        font-size: .9375em;
        color: #8d8d8d;
        text-align: justify;
      }
    }
    .item_function{
      font-size: .9375em;
      padding: .4em 0 .6em 0;
      font-weight: bold;
      color: #8d8d8d;
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      left: 1em;
      right: 1em;
      border-top: 1px solid #d9d9d9;
      .item_reserve{
        a{
          color: #8d8d8d;
          &:hover{
            color: #ff5500;
          }
        }
        &:before {
          content: "";
          vertical-align: middle;
          display: inline-block;
          width: 16px;
          height: 13px;
          background: url(../images/icon_heart.png) no-repeat center center;
          background-size: 16px;
          margin-right: 5px;
          margin-bottom: 3px;
          filter: grayscale(1);
        }
        &.active{
          color: #ff5500;
          &:before{
            filter: grayscale(0);
          }
        }
      }
      .item_reservenum{

      }
    }
  }

  // ul {
  //   @include li-reset;
  //   li {
  //     @include make_col(3, 1);
  //     overflow: visible;
  //     .thumbnail {
  //       width: 100%;
  //       max-width: 90%;
  //       margin: 0 auto 1em;
  //     }

  //   }
  // }
}
