* {
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  &.noscroll {
    position: static !important;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    overflow-y: hidden !important;
    margin: 0;
    padding: 0;
  }
}
// 最外圍預設為100%
.wrapper {
  width: 100%;
  margin: 0px auto;
  background: #f1d9d5;
  @include screen('mobile') {
    background: #FFF;
    overflow: hidden;
    overflow-y: auto;
  }
}
// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
  padding: 0;
  margin: 0 auto;
  max-width: $container-max; 
    //請看_variable.scss
  }
  .main {
    position: relative;
    margin: 0 auto;
    padding: 0;
    // 可先設定一個中央區塊最大寬，限制accesskey對齊
    @include screen('mobile') {
      padding-top: 55px;
    }
    >.container{
      background: #fff;
      padding: 0 0 20px 0;
      .mpimg{
        width: 100%;
        img{
          width: 100%;
          height: auto;
        }
      }
      .block51,.block15{
        padding: 0 60px;
        @include screen('mobile') {
          padding: 0 30px;
        }
      }
      .more{
        text-align: center;
        margin-bottom: 64px;
        @include screen('mobile') {
          margin-bottom: 30px;
        }
        a{
          display: inline-block;
          padding: 0 100px;
          min-height: 2em;
          font-weight: bold;
          line-height: 2em;
          color: #172647;
          text-align: center;
          border: 1px solid #172647;
          border-radius: 25px;
          transition: all .5s;
          &:hover{
            background: #172647;
            color: #fff;
          }
        }
      }
    }
    h2 {
      line-height: 1.25em;
      text-align: center;
    }
  }
////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
  @include screen('mobile') {
  }
  >.container {
    padding: 0 60px 0 60px;
    @include screen('mobile') {
      padding: 0 30px 0 30px;
    }
    .innerpic{
      margin:0 -60px;
      @include screen('mobile') {
        margin:0 -30px;
      }
      img{
        width: 100%;
        height: auto;
      }
    }
    h2{
      text-align: left;
    }
  }
}